@import url("https://fonts.googleapis.com/css?family=Lato|Niramit|Roboto" rel="stylesheet");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/reco.css");
@import url("components/slide.css");
@import url("components/container.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/app.css");
@import url("components/transition.css");
@import url("components/categories.css");

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0;
}

h1,h2,h3 {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

