.cards2 {
	display: flex;
	flex-wrap: wrap;
}

.transition-width {	
    /* Syntaxe standard */
    transition-property: width, background;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    
    /* Hack Safari */
    -webkit-transition-property: width, background;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;    
}

.transition-width:hover {
	width: 80%;
	background: #008ed6;
}
.categories {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;
}


.categories img {
	width: 250px;
	border-radius:10px;
}

.categories h3 {
	flex-grow: 1;
	padding: 0;
	font-size: 20px;
	margin-top: 1px;
}

.btn {
	background-color: rgba(190,190,190,0.4);
	padding: 15px 20px;
	border-radius: 15px;
	color: black;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: block;
	margin: auto;
}

.btn:hover {
	color: white;
	background-color: #41BAC2;
}

#museums {
	background-image:url(../../images/musee.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#family {
	background-image:url(../../images/famille.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#zoo {
	background-image:url(../../images/zoo.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#salon {
	background-image:url(../../images/salon.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#restaurant {
	background-image:url(../../images/restaurant.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#the {
	background-image:url(../../images/the.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#soiree {
	background-image:url(../../images/soiree.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}

#show {
	background-image:url(../../images/show.jpg);
	background-size:cover;
	width: 200px;
	height: 200px;
}


.remplissage {
	margin-top: 50px;
}