#footer {
	background-color:#E3BC31;
	display:flex;
	justify-content: space-between;
	padding-left:40px;
	padding-right:40px;
	align-items: center;
}

.card2 {
display:flex;
align-items:center;
list-style-type: none;
}

#footer img{
	height: 30px;
}

#footer i{
	color:white;
	font-size: 22px;
	padding-right:10px;
	padding-left:10px;
}

#footer i:hover{
	color:#F37C57;
	transition:0.3s ease;
}
