.fling-minislide {width:700px; height:500px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 36s infinite; opacity:0; width: 100%;text-align: center;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(9){animation-delay:0s;}
.fling-minislide img:nth-child(8){animation-delay:4s;}
.fling-minislide img:nth-child(7){animation-delay:8s;}
.fling-minislide img:nth-child(6){animation-delay:12s;}
.fling-minislide img:nth-child(5){animation-delay:16s;}
.fling-minislide img:nth-child(4){animation-delay:20s;}
.fling-minislide img:nth-child(3){animation-delay:24s;}
.fling-minislide img:nth-child(2){animation-delay:28s;}
.fling-minislide img:nth-child(1){animation-delay:32s;}

.fling-minislide {margin-left: 950px; top:140px;}

@media (max-width: 1700px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 850px; top:140px;
width: 700px; height: 500px;}
}
@media (max-width: 1500px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 750px; top:140px;
width: 700px; height: 500px;}
}
@media (max-width: 1400px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 650px; top:140px;
width: 600px; height: 500px;}
}
@media (max-width: 1300px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 650px; top:140px;
width: 450px; height: 370px;}

}
@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide    {margin-left: 250px;
    top: 450px;
    width: 500px;
    height: 420px}
 }   
   @media (max-width: 800px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 113px;
    top: 476px;
    width: 545px;
    height: 370px;}
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
.fling-minislide {margin-left: 194px;
    top: 481px;
    width: 575px;
    height: 370px;}
 }